//MIXINS
@mixin delay($ElmNumber, $time) {
    @for $i from 1 through ($ElmNumber +1) {
        header.container nav .main-nav li:nth-child(#{$i}) a {
            transition-delay: $i * $time;
        }
    }
}

@include delay(8, 0.05s);

@mixin flex-perfect-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


//FONTS
@font-face {
    font-family: sepahbod;
    src: url('../fonts/sepahbod.otf');
}

@font-face {
    font-family: iranSans;
    src: url('../fonts/IRANSans.ttf');
}


* {
    font-family: sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
    direction: rtl;
    text-align: right;
    overflow-x: hidden;

}

p, h1, h2, h3, h4, h5 {
    margin-bottom: 0px;
    font-family: iranSans;
    
    text-align: center;
    
    @media screen and (min-width: 576px) {
        text-align: right;
    }
    
    
}

//container
@import "./container.scss";




//component
phone {
    //flex-grow: 1;
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #2a2a2a;

    &:hover {
        i {
            transform: rotate(-20deg);
        }
    }

    i {
        margin-left: 1rem;
        transition: all 0.3s;
    }
}

navbar-wrapper {
    position: relative;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #fff;
    visibility: hidden;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s linear;
    
    
    @media screen and (min-width: 576px) {
        justify-content: center;
    }

    &.toggledIn {
        visibility: visible;
        z-index: 1;
        opacity: 1;

        .main-nav {
            li a {
                transform: translateY(0);
            }
        }
    }

    .top-level {
        position: absolute;
        top: 17px;
        height: 50px;
        
        
        @media screen and (min-width: 576px) {
            top: 60px;
        }

        #closeMenu {
            padding: 0px;
            font-size: 3rem;
            border: 0px;
            background: transparent;
        }
    }

    .main-nav {
        width: 100%;
        margin-top: 25%;
        @media screen and (min-width: 576px) {
            margin-top: 0%;
        }

        //background: red;
        li {
            position: relative;
            width: 100%;
            margin: 0 auto;
            overflow-y: hidden;
            //background: #ddd;
            list-style: none;
            transition: all 0.3s;

            &.active a::after {
                content: "";
                position: absolute;
                top: 80%;
                height: 5px;
                width: 90%;
                background: #42abe8;
                left: 0px;
                right: 0px;
                margin: 0px auto;
            }

            a {
                font-family: sepahbod;
                width: max-content;
                margin: 0 auto;
                color: #313131;
                transform: translateY(100%);
                display: block;
                padding: 0.5rem;
                //background: #eee;
                text-align: center;
                font-size: 1.2rem;
                transition: transform 0.3s;

                &:hover {
                    text-decoration: none;
                }

            }
        }

        @media screen and (min-width: 576px) {
            li {
                width: 25%;

                a {
                    font-size: 1.75rem;
                }
            }
        }
    }

    .navbar-footer {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 0%;
        height: 220px;
        background: #f5f5f5;
        padding: 15px;
        
        @media screen and (min-width: 576px) {
            height: 100px;
            flex-direction: row;
            width: 60%;
        }
        

        .address,
        .social,
        .phone {
            display: flex;
            align-items: center;
            height: 100%;

        }

        .address,
        .phone {
            width: 350px;
        }

        .social {
            justify-content: space-around;
            flex-grow: 1;

            span {
                @include flex-perfect-center;
                height: 50px;
                width: 50px;
                border-radius: 100%;
                background: #fff;
            }
        }

        .phone {
            @extend phone;
            display: flex;
            justify-content: center;
            font-size: 1rem;
            
            @media screen and (min-width: 576px) {
                justify-content: flex-end;
            }
        }
    }

}

header {

    &.container {
        display: flex;
        align-items: center;
        height: 90px;
        
        
        @media screen and (min-width: 576px) {
            height: 180px;
        }

        //width: 100%;

        //background: #eee;
        //LEFT
        .logo {
            margin-right: auto;

            img {
                width: 196px;
            }
        }

        //RIGHT
        .phone-menuBtn-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            //margin-right: auto;
            //width: 200px;
            height: 100%;
            //background: #ddd;

            .menu-btn-toggle {
                cursor: pointer;
                width: 50px;
                margin-left: 1rem;
            }

            .phone {
                @extend phone;

                span {
                    visibility: hidden;
                }

                @media screen and (min-width: 576px) {
                    span {
                        visibility: visible;
                    }
                }
            }
        }


        nav {
            @extend navbar-wrapper;
        }


    }

}

#samples {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 180px;
    
    
    
    
    @media screen and (min-width: 576px) {
        flex-direction: row;
        margin-top: 120px;
        margin-bottom: 280px;
    }
    .right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0px 3.3rem;
        //background: #ddd;
        @media screen and (min-width: 576px) {
            width: 40%;
        }
        .title{
            margin-bottom: 1rem;
        }
        .title ,ul{
            font-family: iranSans;
        }
        
        ul{
            list-style: none;
            padding: 0px;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;
            //padding: 0px 15px;
            li{
                display: flex;
                align-items: center;
                &::before {
                  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                  color: deepskyblue; /* Change the color */
                  font-weight: bolder; /* If you want it to be bold */
                  //display: inline-block; /* Needed to add space */
                  font-size: 40px;
                  margin-left: 0.5rem;
                }
                flex-grow: 1;
                a{
                    font-family: iranSans;
                    color: black;
                }
            }
        }
    }
    .left {
        width: 100%;
        @media screen and (min-width: 576px) {
            width: 60%;
        }
        .carousel {
            //background: #EEE;
            .carousel-cell {
                @include flex-perfect-center;
                position: relative;
                flex-direction: column;
                padding: 1rem;
                width: 300px;
                height: 300px;
                margin-right: 10px;
                //background: #8C8;
                border-radius: 5px;
                counter-increment: gallery-cell;
                transition: all 0.3s;
                
                &:hover {  
                  background: #ED2;
                  transform: translateY(-10px);
                  box-shadow: 0px 0px 20px #c3c1c1;
                  
                    
                    img{
                        z-index: -1;
                        filter: brightness(50%);
                    }
                    
                    .title, .subtitle {
                        color: #fff;
                        display: block;
                        z-index: 1;
                        transition: all 0.3s;
                    }
                    
                }
                
                img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: 0px;
                    top: 0px;
                    transition: all 0.3s;
                }
                
                .title, .subtitle {
                    display: none;
                    text-align: center;
                }
                .title{
                    font-size: 1.1rem;
                }
                .subtitle{
                    font-size: 0.9rem;
                }
            }
        }
    }
    
    .more-samples{
        display: flex;
        align-items: center;
        color: black;
        font-family: sepahbod;
        position: absolute;
        bottom: -80px;
        left: 0px;
        
        &::after{
            content: " ";
            width: 60px;
            height: 5px;
            background: black;
            margin-right: 1rem;
            
        }
    }

}

#services-grid{
    display: grid;
    //grid-gap: 5px;
    width: 100%;
    height: calc(100vw / 0.5);
    //background: #ddd;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    
    
    @media screen and (min-width: 576px) {
        height: calc(100vw / 2.4);
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    
    
    
    
    

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        //background: red;
        padding: 1rem;
        
        @media screen and (min-width: 576px) {
            padding: 1rem 3.3rem;
        }
        
        h1{
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }
    }
    
    
    .item{
        position: relative;
        @include flex-perfect-center;
        
        .title{
            color: #fff;
            z-index: 1;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            object-fit: cover;
            filter: brightness(50%);
        }
    }
}
